<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="dbmssql" connectionString="Data Source = .; Database = Employee;
			 User ID = ranadheer; Password = ravan2451"/>
	</connectionStrings>
</configuration>